# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/media/patternpad.svg
src/media/patternpad (1).svg
src/media/Backgrounds/4e1b12d2-61cf-45c1-be46-1b278db8d496.jpeg
src/media/Backgrounds/500b1fc3-6e53-4a71-a1ad-6b5aa0f23ec4.jpeg
src/media/Backgrounds/647c1359-c7a2-4448-88dc-1e5a5324edb6.jpeg
src/media/Backgrounds/868b3ae8-b60f-4052-92b0-1b4b03635d6a.jpeg
src/media/Backgrounds/05190439-7c03-4be8-90d0-b69195db8f83.jpeg
src/media/Backgrounds/aa3b4331-d10c-4b86-bf5c-0ba4ee4cba61.jpeg
src/media/Backgrounds/aeaf9b2a-4eb2-4328-9bd2-2d0d8b77a829.jpeg
src/media/Backgrounds/b837943d-9f99-4bf9-9156-2591388bc53f.jpeg
src/media/Backgrounds/background.jpeg
