/*Roots, Imports, functions*/
:root {
  --pink: #ecb2ba;
  --pink-dark: #c6939a;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}

/* App Component */

.App {
  background-size: 100% 100%;
}
* {
  margin: 0;
  padding: 0;
}
.container{ 
  display: flex;
}
.layout {
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 3vw;
}
/* TextImput Component */
.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;

  
}
.todo-input [type="text"]{background-color: rgba(255, 250, 205, 0.029)!important }
.form-container {background-image: url('./media/Backgrounds/stickynote.png');
padding: 1.8rem;
}

.todo-input{
  margin-top: 2.5rem;
}
/* TodoList Component */
.list-display {

  display: flex;
  align-items: center;
  justify-content: center;
 
}
.todo-list  { 
  height: 69vh;
  width: 79vw;
  display: grid;
  margin-left: -2.3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); /* This will create a 3 column grid */
  gap: 1rem; /* Space between grid items */
}

/* ToDoItem Component */
.todos-list-item p {
  overflow: hidden;
  white-space: nowrap;

  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.todos-list-item {
  display: block;
}

.todos-list-item.completed {
  text-decoration: line-through;
}

.todos-list-item.important {
  color: crimson;
}

/* Paper Effect  */
.pink {
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

.blue {
  --paper-color: #d5e0f9;
  --paper-dark: #c2d0ea;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.paper {
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 1rem;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;
}

.paper::after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 1.7vmin;
  top: -5px;
  width: 55%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

.btn-Group {
  z-index: 10;
  position: relative;
}

.icon {
height: 50px;
width: 50px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
