/*Roots, Imports, functions*/
:root {
  --pink: hsl(352, 60%, 81%);
  --pink-dark: hsl(352, 31%, 68%);
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --textInput {
  font-family: Rocher;
  base-palette: 2;
}

@font-palette-values --header {
  font-family: Rocher;
  base-palette: 8;

}

/* App Component */
.layout{width: 100vw;height: 100vh;}
.main {display: flex;
  height: 100%;
  width: 100%;
  gap: 5%;
}
*{ white-space: normal;}
.App{background-size: 100% 100%;}

/* TextImput Component */
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.input-container :first-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
 
  
}

.form-container {
  height: fit-content;
display: flex;
padding: 0 4% ;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;

}
/*headers */
.header {background-color: transparent; display: flex;justify-content: center;}
.header * { margin: 0;}
.form-container h1 {
  font-family: Rocher;
  font-palette: --textInput;
  }
.list-header {
  margin: 0;
  font-family: Rocher;
font-palette:  --header;
font-size: xx-large;
}

/* TodoList Component */
.list-display {
display: flex;
align-items:center ;
padding-left: 2%;

 
}
.todo-list  { 
  width: 80%;
  height: 65%;
  max-height: 65%;
  overflow-y: scroll;
  scroll-behavior: var(--pink);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 33%);
  gap: 1rem; 
  padding: 0;
}

.todo-list::-webkit-scrollbar {
  display: none;
}


.todo-list {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

/* ToDoItem Component */
.todos-list-item p {
  padding:5%;
  max-width: 95%;
  max-height: 55%;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.todos-list-item.completed {
  text-decoration: line-through;
}

.todos-list-item {
width: 100%;
height: 100%;
display: block;
align-items: center;
justify-content: center;}




.pink {
 height: 100%;
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}
.completed {height: 100%;
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}
.blue {
  --paper-color: #d5e0f9;
  --paper-dark: #c2d0ea;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.paper {
 
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;

}

.paper::after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 1.7vmin;
  top: -5px;
  width: 55%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}
.title-tape {
  position: absolute;
  height: 3.7vmin;
  top: -15px;
  width: 55%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.7;
}
.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

/* buttons */
.btn-group{position: absolute;
  bottom: 0;
 }

.btn  {
filter: sepia();
transition: all .2s ease-in-out; ;
}
.btn:hover{filter: sepia(0);
  transform: scale(1.4);}


/* footer */
.footer{background-color:black}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width:100%;
  }
}
