.App {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: hsl(34, 78%, 91%);
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100vh;
  background-color: dimgrey;
}

.Sidebar-list {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
}

.Sidebar-link {
  display: flex;
  margin-bottom: 20px;
  height: 100px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

#Layout {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
}

.main {
  width: 70%;
  height: 80%;
  background-color: blue;
}
